docs/n8n-pana-crm-media-v1.json
{
  "name": "Mini CRM API v1 - Media URL (pana-crm-media-v1)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pana-crm-media-v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-1",
      "name": "Webhook - Media In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "pana-crm-media-v1"
    },
    {
      "parameters": {
        "jsCode": "// === Validar auth + payload (URL pre-firmada desde el CRM) ===\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\n\nconst expected = $env.CRM_SECRET || '';\nconst got = headers['x-crm-secret'] || headers['X-CRM-SECRET'] || '';\nif (!expected || got !== expected) {\n  return [{ json: { ok: false, status: 403, error: 'Authorization data is wrong!' } }];\n}\n\nconst contactId = String(body.contactId || '').trim();\nconst mediaUrl  = String(body.mediaUrl  || '').trim();\nconst mediaType = String(body.mediaType || 'file').trim();\nconst fileName  = String(body.fileName  || '').trim().slice(0, 200);\nconst mimeType  = String(body.mimeType  || 'application/octet-stream').trim().slice(0, 120);\nconst userName  = String(body.userName  || 'Administrador CRM').trim().slice(0, 120);\n\nconst validId  = /^[A-Za-z0-9_-]{1,128}$/.test(contactId);\nconst validUrl = /^https?:\\/\\/.+/i.test(mediaUrl);\nif (!validId || !validUrl) {\n  return [{ json: { ok: false, status: 400, error: 'Payload inválido', detalle: { validId, validUrl } } }];\n}\n\nreturn [{ json: { ok: true, contactId, mediaUrl, mediaType, fileName, mimeType, userName } }];"
      },
      "id": "validate-1",
      "name": "Validar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json.ok}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "if-1",
      "name": "¿Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.GHL_TOKEN}}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"type\": \"WhatsApp\",\n  \"contactId\": \"{{$json.contactId}}\",\n  \"attachments\": [\"{{$json.mediaUrl}}\"]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ghl-send",
      "name": "GHL - Enviar Mensaje con Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        220
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO crm_messages (contact_id, direction, body, media_url, media_type, user_name, ghl_message_id, created_at) VALUES ($1, 'outbound', '', $2, $3, $4, $5, NOW())",
        "options": {
          "queryReplacement": "={{$('Validar').first().json.contactId}}, ={{$('Validar').first().json.mediaUrl}}, ={{$('Validar').first().json.mediaType}}, ={{$('Validar').first().json.userName}}, ={{$json.messageId || $json.id || ''}}"
        }
      },
      "id": "db-1",
      "name": "DB - Registrar Media",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1080,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"mediaUrl\": \"{{$('Validar').first().json.mediaUrl}}\", \"messageId\": \"{{$json.messageId || $json.id || ''}}\" }"
      },
      "id": "resp-ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1300,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": "={{$json.status || 400}}",
        "responseBody": "={ \"ok\": false, \"error\": \"{{$json.error}}\" }"
      },
      "id": "resp-err",
      "name": "Responder Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        860,
        420
      ]
    }
  ],
  "connections": {
    "Webhook - Media In": {
      "main": [
        [
          {
            "node": "Validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar": {
      "main": [
        [
          {
            "node": "¿Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Válido?": {
      "main": [
        [
          {
            "node": "GHL - Enviar Mensaje con Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Enviar Mensaje con Media": {
      "main": [
        [
          {
            "node": "DB - Registrar Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Registrar Media": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "instanceId": "pana-crm-media-v1"
  },
  "versionId": "",
  "active": false,
  "tags": []
}